.badge_r
	background-color: red
	width: 10px
	border-radius: 10px	

#order_image img
	width: 70px

#how_works img
	width: 100px
	border-radius: 100px

.itemround
	border-radius: 100px

.ordername
	font-family: opensansregular
	font-size: 13px