@import order
@import cart
@import misc
@import menus
@import family


*
	margin: 0px
	padding: 0px
	overflow-x: hidden

body
	background: url(../images/texture3.png)


.bg_1
	background-color: #000

.bg_2
	background: url(../images/texture3.png)

.bg_3
	background-color: #444

.bg_4
	background-color: #642922
	color: white

.bg_5
	background-color: #421C17
	color: white

.bg_6
	background-color: #588C38
	color: white

.bg_7
	background-color: #555
	color: white

.bg_8
	background-color: #444
	color: white

.bg_9
	background-color: #eee

.bg_r
	background-color: red 

.b_rad
	border-radius: 15px

.bg_header
	background-color: white
	opacity: 0.3
	border: 1px white solid
	padding: 8% 

.ghost_button
	border: 1px white solid
	border-radius: 3px 

.padding_20
	padding: 20px 

.padding_10
	padding: 10px 

.padding_5
	padding: 5px 

.padding_1
	padding: 1px 

.w
	color: white 

.b
	color: black 

.r
	color: red 

.no_border
	border-radius: 0px
	border: none 

.hoverglow:hover
	background-color: #34A217
	color: #e3e3e3 

.nolink
	text-decoration: none

.center_text
	text-align: center 

.heading
	font-size: 53px
	font-family: caviardreamsregular

.heading2
	font-family: ultimapdultralight
	font-weight: 900
	font-size: 30px

.anchor
	display: block
	visibility: hidden
	position: relative
	top: -70px

.darkbrown
	background-color: #421c17

.btn_font
	font-size: 18px

.pageload
	position: fixed
	left: 0px
	top: 0px
	width: 100%
	height: 100%
	z-index: 9999
	background: url(../images/Animations/bbqhutanimation.gif) 50% 50% no-repeat #eee

.navindex
	display: none

#navigationbar.navbar-default .navbar-brand 
	color: rgba(227, 227, 227, 1)

.navbar-header
	padding-top: 5px
	font-family: sanchezregular

#navigationbar.navbar-default 
	font-size: 20px
	background-color: rgba(42, 136, 17, 1)
	border-bottom-width: 0px

#navigationbar.navbar-default .navbar-nav>li>a 
	color: rgba(189, 189, 189, 1)
	background-color: rgba(248, 248, 248, 0)
	text-align: center
	padding-top: 20px
	padding-bottom: 20px

#navigationbar.navbar-default .navbar-nav>li>a:hover,#navigationbar.navbar-default .navbar-nav>li>a:focus 
	color: rgba(227, 227, 227, 1)

#navigationbar.navbar-default .navbar-toggle:hover,#navigationbar.navbar-default .navbar-toggle:focus 
	background-color: #ddd

#navigationbar.navbar-default .navbar-toggle .icon-bar 
	background-color: #888

#navigationbar.navbar-default .navbar-toggle:hover .icon-bar,#navigationbar.navbar-default .navbar-toggle:focus .icon-bar 
	background-color: #2a8811

#cartbutton
	width: 35px 

#index
	background: url('../images/small/pit.jpg')
	background-size: 100%

#halalimg img
	width: 90px 

#media img
	width: 100%

#midlogo
	width: 100%

.indexitem
	background-color: #588C38
	padding-top: 30px
	padding-bottom: 30px
	font-size: 25px
	font-family: bebasregular
	text-decoration: none
	color: #b3b3b3
	text-align: center 

#aus
	background: url(../images/small/untitled-444-2.jpg) 50% 0 fixed
	height: auto
	margin: 0 auto
	width: 100%
	position: relative

#sectext
	font-family: opensansregular
	font-size: 20px 

#crewmeet a
	text-decoration: none

#crewmeet img
	border-radius: 1000px

.sec3img
	height: 120px 

.con_button
	padding: 5px
	font-family: opensansregular
	font-size: 15px

.contact_button
	padding: 10px
	background-color: #FFAE00
	font-family: opensansregular
	font-size: 30px
	text-decoration: none
	color: white
	border-radius: 10px 

#map_overlay
	background-color: none
	position: absolute
	top: 0 

#click_map_instruct
	background-color: #C5DDC3
	text-align: center
	opacity: 0.8
	font-family: asgalt
	font-size: 50px
	height: 72px
	padding-top: 1px

.footerheading
	text-align: center
	font-family: caviardreamsregular
	font-size: 20px
	background-color: #C8C8C8
	border-radius: 5px 

.footerlinks
	text-align: center
	font-family: opensansregular
	font-size: 15px
	color: #000000 

#rootimg
	width: 100px